<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shzu.convenience.mapper.FaultMapper">
    <select id="findAllFault" resultType="com.shzu.convenience.entity.Fault">
        select id, name, description from sys_fault
    </select>
    <insert id="addNewFault">
        insert into sys_fault (name, description) values (#{fault.name}, #{fault.description})
    </insert>
    <update id="updateFaultById">
        update sys_fault set name = #{fault.name} and description = #{fault.description} where id = #{fault.id}
    </update>
</mapper>