<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shzu.convenience.mapper.RegionMapper">
    <select id="findAllRegion" resultType="com.shzu.convenience.entity.Region">
        select id, name, description from sys_region
    </select>
    <update id="updateRegionById">
        update sys_region set name = #{region.id} and description = #{region.description} where id = #{region.id}
    </update>
    <insert id="addNewRegion">
        insert into sys_region (name, description) values(#{region.name}, #{region.description})
    </insert>
</mapper>