<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shzu.convenience.mapper.RoleMapper">
    <insert id="addRole" useGeneratedKeys="true" keyProperty="role.id">
        insert into sys_role(name, description) values(#{role.name}, #{role.description})
    </insert>
    <update id="updateRoleById">
        update sys_role set name = #{role.name} and description = #{role.description} where id = #{role.id}
    </update>
    <delete id="deleteRoleById">
        delete from sys_role where id = #{id}
    </delete>
</mapper>